/* fonts */
@font-face{
    font-family: Okomito;
    src:    url('../fonts/Okomito-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Okomito-Medium.woff') format('woff'),
            url('../fonts/Okomito-Medium.woff2') format('woff2');
}
@font-face{
    font-family: Monoist;
    src:    url('../fonts/monoist-regular-hdcweb.eot?#iefix') format('embedded-opentype'),
            url('../fonts/monoist-regular-hdcweb.woff') format('woff'),
            url('../fonts/monoist-regular-hdcweb.woff2') format('woff2'), 
            url('../fonts/monoist-regular-hdcweb.ttf')  format('truetype'),
            url('../fonts/monoist-regular-hdcweb.svg#svgFontName') format('svg');
}

/* Typography */
h1, h2, p, li, a{
    color: #181818;
    font-family: Okomito, sans-serif;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}
h1, strong{
    font-size: 3rem;
    font-weight: 500;
    line-height: 0.9375em;
}
h2{
    font-size: 1.5rem;
    line-height: 1.1875em;
}
p, li{
    font-size: 1rem;
    line-height: 1.3333em;
}
.huuuge{
    font-size: 4rem;
}
header p{
    font-size: 1.125rem;
}
.mono{
    color: #808080;
    font-family: Monoist, monospace;
    font-size: 0.875rem;
}
.small-caps{
    font-size: 0.85em;
    letter-spacing: 0.015em;
}
.strike-through{
    text-decoration: line-through;
}
.quote:before {
    content: '“';
    margin-left: -.45em;
    position: absolute;
}
.quote:after {
    content: '”';
    margin-left: 0.04em;
}

/* main styling */
body{
    background-color: #e8e8e8;
}
::-moz-selection{ 
    background: #ff4500;
    background: rgba(255, 69, 0, 0.99);
}
::selection{ 
    background: #ff4500;
    background: rgba(255, 69, 0, 0.99);
}
.title-bar{
    background-color: #e8e8e8;
    padding-top: 0.625rem;
}
.space{
    margin-bottom: 3.75rem;
}
.phonetic{
    margin-bottom: 0;
}
h2:not(:last-child){
    margin-bottom: 2rem;
}
img, .responsive-embed, .accordion-content p, .accordion-content strong{
    margin-bottom: 3.75rem;
}
.accordion-content .no-space{
    margin-bottom: 1.3333em;
}

/* Accordion Menu */
.accordion{
    background: none;
}
.accordion-title{
    border: none;
    color: #181818;
    display: inline-block;
    margin-bottom: 3.75rem;
    padding: 0;
}
:last-child:not(.is-active) > .accordion-title {
    border: none;
}
.accordion-title::before{
    display: none;
}
.accordion-content{
    background-color: #fff;
    box-shadow:0 15px 45px rgba(24,24,24,0.2),0 5px 10px rgba(24,24,24,0.1);
    margin-bottom: 3.75rem;
    padding-top: 1.875rem;
}

/* links */
a:link, a:visited{
    color: #808080;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}
a:hover, a:active{  
    background: none;
    color: #181818;
    opacity: 1;
}
.logo:link, .logo:visited, .casestudy:link, .casestudy:visited{
    color: #181818;
    opacity: 1;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}
.logo:hover, .logo:active, .accordion-title:hover, .accordion-title:active{
    color: #ff4500;
}
.accordion-title:link{
    background: none;
}
.is-active > .accordion-title{
    color: #fff;
    margin-bottom: 0.938rem;
    opacity: 1;
}
.is-active > .accordion-title:hover{
    color: #808080;
}
.is-active > .casestudy:hover{
    color: #181818;
}

/* Small only */
@media screen and (max-width: 39.9375em){
    .projects{
        padding: 0;
    }
    .accordion-title{
        margin: 0 0.938rem 3.75rem;
    }
    .accordion-content .no-space-small{
    margin-bottom: 1.3333em;
    }
}

/* Medium and up */
@media screen and (min-width: 40em){
    h2{
        font-size: 2rem;
    }
    p, li{
        font-size: 1.125rem;
    }
    .huuuge{
        font-size: 6rem;
    }
    header{
        height: 4.625rem;
    }
    .title-bar{
        border-bottom: 0.188rem solid #181818;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .accordion-content{
        border-radius: 0.313rem;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em){
    
}

/* Large and up */
@media screen and (min-width: 64em){
    
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em){
    
}