@font-face{font-family:Okomito;src:url('../fonts/Okomito-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/Okomito-Medium.woff') format('woff'),
url('../fonts/Okomito-Medium.woff2') format('woff2');}
@font-face{font-family:Monoist;src:url('../fonts/monoist-regular-hdcweb.eot?#iefix') format('embedded-opentype'),
url('../fonts/monoist-regular-hdcweb.woff') format('woff'),
url('../fonts/monoist-regular-hdcweb.woff2') format('woff2'),
url('../fonts/monoist-regular-hdcweb.ttf') format('truetype'),
url('../fonts/monoist-regular-hdcweb.svg#svgFontName') format('svg');}
body, html{background-color:#e8e8e8;}
::-moz-selection{background:#ff4500;background:rgba(255, 69, 0, 0.99);}
::selection{background:#ff4500;background:rgba(255, 69, 0, 0.99);}
.title-bar{background-color:#e8e8e8;padding-top:0.625rem;}
.space{margin-bottom:3.75rem;}
.no-space{margin-bottom:1.3333em;}
.title-space{margin-bottom:0.938rem;}
.social{margin-bottom:0;}
.phonetic{margin-top:-0.5em;position:absolute;}
h2:not(:last-child){margin-bottom:2rem;}
.article-title{line-height:0.9375em;}
img, .responsive-embed, article p, article strong{margin-bottom:3.75rem;}
article{background-color:#fff;box-shadow:0 15px 45px rgba(24,24,24,0.2),0 5px 10px rgba(24,24,24,0.1);margin:0.875rem 0 3.75rem;padding:1.875rem 0;}
.outline{box-shadow:0 1px 6px rgba(24,24,24,0.2);}
h1, h2, p, li, a{color:#181818;font-family:Okomito, sans-serif;font-weight:500;text-rendering:optimizeLegibility;}
h1, strong{font-size:3rem;font-weight:500;line-height:0.9375em;}
h2{font-size:1.5rem;line-height:1.1875em;}
p, li{font-size:1rem;line-height:1.3333em;}
.huuuge{font-size:4rem;}
header p{font-size:1.125rem;}
.mono{color:#808080;font-family:Monoist, monospace;font-size:0.875rem;}
abbr[title]{font-size:0.85em;letter-spacing:0.015em;text-decoration:none;}
.strike-through{text-decoration:line-through;}
.quote:before{content:'“';margin-left:-.45em;position:absolute;}
.quote:after{content:'”';margin-left:0.04em;}
a:link, a:visited{color:#808080;-webkit-transition:200ms ease-in-out;transition:200ms ease-in-out;}
a:hover, a:active{background:none;color:#181818;opacity:1;}
.logo:link, .logo:visited, .casestudy:link, .casestudy:visited{color:#181818;opacity:1;-webkit-transition:200ms ease-in-out;transition:200ms ease-in-out;}
.logo:hover, .logo:active, .article-title:hover, .article-title:active{color:#ff4500;}
@-webkit-keyframes fade-in{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fade-in{0%{opacity:0;}
100%{opacity:1;}
}
.fade-in{-webkit-animation:1s ease both fade-in;animation:1s ease both fade-in;}
@-webkit-keyframes slide-up{0%{-webkit-transform:translate3d(0, 30rem, 0);transform:translate3d(0, 30rem, 0);}
100%{-webkit-transform:none;transform:none;}
}
@keyframes slide-up{0%{-webkit-transform:translate3d(0, 30rem, 0);transform:translate3d(0, 30rem, 0);}
100%{-webkit-transform:none;transform:none;}
}
.slide-up{-webkit-animation:500ms ease both slide-up;animation:500ms ease both slide-up;}
@-webkit-keyframes activate{0%{color:#181818;}
100%{color:#fff;}
}
@keyframes activate{0%{color:#181818;}
100%{color:#fff;}
}
.activate{-webkit-animation:200ms ease 600ms both activate;animation:200ms ease 600ms both activate;}
@-webkit-keyframes activate-grey{0%{color:#808080;}
100%{color:#fff;}
}
@keyframes activate-grey{0%{color:#808080;}
100%{color:#fff;}
}
.activate-grey{-webkit-animation:200ms ease 600ms both activate-grey;animation:200ms ease 600ms both activate-grey;}
@media screen and (max-width:39.9375em){.no-space-small{margin-bottom:1.3333em;}
}
@media screen and (min-width:40em){h2{font-size:2rem;}
p, li{font-size:1.125rem;}
.huuuge{font-size:6rem;}
.title-space{margin-bottom:1.5rem;}
header{height:4.625rem;}
.title-bar{border-bottom:0.188rem solid #181818;position:fixed;width:100%;z-index:1;}
article{border-radius:0.313rem;margin:0.875rem 0.938rem 3.75rem;}
}