html,
body {
	background: white;
	border: 0;
	margin: 0;
	padding: 0;
}

canvas {
	position: fixed;
}

.container {
	color: white;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3em;
}

.marquee {
	background: black;
	overflow: hidden;
}

.footer {
	bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 2;
}
